USE [master]
GO
/****** Object:  Database [HIOP]    Script Date: 09/02/2018 12:45:52 ******/
CREATE DATABASE [HIOP] ON  PRIMARY 
( NAME = N'HIOP', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\HIOP.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HIOP_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\HIOP_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HIOP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HIOP]
GO
/****** Object:  Table [dbo].[TOTAL]    Script Date: 09/02/2018 12:45:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOTAL](
	[TOTALAMOUNT] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OUR-TEAM]    Script Date: 09/02/2018 12:45:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OUR-TEAM](
	[NAME] [nvarchar](50) NULL,
	[PHONE NO] [int] NULL,
	[DESIGNATION] [nvarchar](50) NULL,
	[CODE] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[online donation]    Script Date: 09/02/2018 12:45:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[online donation](
	[name] [nvarchar](50) NULL,
	[cnic] [int] NULL,
	[account no] [nvarchar](50) NULL,
	[amount] [int] NULL,
	[date] [varchar](50) NULL,
	[donate for] [nvarchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[login]    Script Date: 09/02/2018 12:45:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login](
	[name] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[phone] [int] NULL,
	[age] [int] NULL,
	[password] [nvarchar](50) NULL,
	[gender] [nvarchar](50) NULL,
	[cnic] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[families]    Script Date: 09/02/2018 12:45:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[families](
	[date] [nvarchar](50) NULL,
	[family reference] [nvarchar](50) NULL,
	[type] [nvarchar](50) NULL,
	[month] [nvarchar](50) NULL,
	[total] [int] NULL,
	[phone no] [varchar](11) NULL,
	[STATUS] [nvarchar](50) NULL,
	[code] [int] IDENTITY(1,2) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DONATION]    Script Date: 09/02/2018 12:45:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DONATION](
	[NAME] [varchar](50) NOT NULL,
	[AMOUNT] [int] NOT NULL,
	[DATE] [varchar](20) NOT NULL,
	[RECIEVE] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[adddonation]    Script Date: 09/02/2018 12:46:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[adddonation]
(
@NAME Nvarchar(50),
@AMOUNT INT,
@DATE nvarchar(20),
@RECIEVE nvarchar(50)
)
AS 
BEGIN
INSERT INTO DONATION(NAME,AMOUNT,DATE,RECIEVE)VALUES(@NAME,@AMOUNT,@DATE,@RECIEVE)
END
GO
